---
- name: GET request to port 80 (nginx)
  uri:
    url:            http://127.0.0.1:80
    method:         GET
    return_content: yes

- name: GET request to port 3000 (application)
  uri:
    url:            http://127.0.0.1:5001
    method:         GET
    return_content: yes
...