{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:List*",
                "s3:Get*",
                "ec2:Describe*",
                "ec2:AssociateAddress"
            ],
            "Resource": "*"
        }
    ]
}